# Supabase 配置
SUPABASE_URL=https://rjxyvqmhskusodofvivc.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqeHl2cW1oc2t1c29kb2Z2aXZjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM3ODU5OTksImV4cCI6MjA4OTM2MTk5OX0.xy4coLhxjxHxsBEo84Ob90bbZ_WYYn5Nm-Iyxqwv4zw

# Ollama 配置
OLLAMA_BASE_URL=http://ollama:11434
OLLAMA_MODEL=nomic-embed-text
